@model Mic.Models.Cat

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji mačke:</h1>

<div>
    <h4>Mic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPreferredCat)
        </dt>*@
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPreferredCat)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CatId">Uredi</a> |
    <a asp-action="Index">Nazad na listu ponuđenih mica</a>
</div>
