@model IEnumerable<Mic.Models.Cat>

@{
    ViewData["Title"] = "Index";
}

<h1>Mačke u ponudi!</h1>

<p>
    <a asp-action="Create" value="Kreiraj novu micu" class="btn btn-primary">Kreiraj novu micu!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageThumbnailUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPreferredCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" height="42" width="42" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageThumbnailUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPreferredCat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CatId">Uredi</a> |
                    <a asp-action="Details" asp-route-id="@item.CatId">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.CatId">Izbriši</a>
                </td>
            </tr>
        }

    </tbody>
</table>


       
<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="thumbnail">
            <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="200" height="200" />
            <div class="carousel-caption">
                <h3 class="align-content-center">@Html.DisplayFor(modelItem => item.Price)</h3>
                <h3><a> @Html.DisplayFor(modelItem => item.Name)</a></h3>
                <p> @Html.DisplayFor(modelItem => item.ShortDescription)</p>
            </div>
            <div class="addToCart text-right">
              
                    <a class="btn btn-success" id="cartButton"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-catId="@item.CatId">
                        Dodaj micu u košaricu
                    </a>
               
            </div>
        </div>}
</div>

        





